@media screen and (max-width: 992px) {
  .main-bg {
    min-height: 768px;
    height: 100vh;
    max-height: 992px;
  }

  .button-outline {
    padding: 0 !important;
    border: none;
  }

  .hero-1 {
    width: 100%;
    position: relative;
  }
}
@media screen and (max-width: 768px) {
  .main-bg {
    min-height: 550px;
    height: 100vh;
    max-height: 768px;
  }

  .instagram-wrapper {
    background-image: unset;
    margin-top: 30px;
  }
  .instagram-wrapper__small-spot {
    display: none;
  }
  .instagram-wrapper__flower {
    display: none;
  }

  .instagram-id {
    margin: 0;
    padding: 0;
    justify-content: start;
  }
  .instagram-id__icn {
    display: none;
  }

  .instagram-subscribe {
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 576px) {
  .main-bg {
    min-height: 500px;
    height: 100vh;
    max-height: 576px;
  }

  h2 {
    text-align: center;
  }

  .hero-1 {
    position: relative;
    float: left;
    width: 50% !important;
    top: 0 !important;
    left: 0;
    margin: 0 15px 7px 0;
  }
  .hero-1__img {
    position: relative;
    top: 0;
  }

  .faq__header {
    margin-top: 30px;
  }

  .advantages-wrapper {
    margin: 0;
    box-shadow: none;
  }

  .step-wrapper:not(:last-child) {
    margin-right: unset;
  }

  .step {
    width: 250px;
    height: 250px;
  }

  .step__num {
    width: 30px;
    height: 50px;
  }

  .step__text {
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }

  .footer-wrapper {
    text-align: center;
  }
}