@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
  .button-outline {
    padding: 0 !important;
    border: none;
  }

  .instagram-wrapper {
    &__small-spot {
      right: clamp(-25px, calc(-75.8px + 6.6vw), 30px);
      //bottom: clamp(-16px, calc(-140.6px + 15.8vw), 80px);
    }
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 576px) {
  h2 {
    text-align: center;
  }

  .faq__header {
    margin-top: 30px;
  }

  .step-wrapper:not(:last-child) {
    margin-right: unset;
  }

  .step {
    width: 250px;
    height: 250px;
  }

  .step__num {
    width: 30px;
    height: 50px;
  }

  .step__text {
    margin-top: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
}